@page { widows: 2; orphans: 2; }
body { font-size: 14px; }
.noprint { display: none; }
a:link, a:visited { color: black; }
abbr, acronym { border: none; }
pre, code, kbd, blockquote { background-color: transparent; border: none; }
a { text-decoration: none; }

.buzzdate {
font-size:11px;
font-style:italic;
}
.buzzcont {
/* color:#5b5b5b; Color is ok no need to change */
}
.buzzpost {
border-bottom:1px solid #ccc;
padding:10px 0px;
}
.buzzwrap {
margin:0px 0px 15px 0px;
}
.buzzpost img {
margin:0px 0px 0px 25px;
border:1px solid #d2ad9d;
}

.resize {
width: 200px;
height : auto;
}